<header class="navbar">
  <a class="brand" routerLink="/">
    IBM-Mart
  </a>

  <nav aria-label="Primary navigation">
    <a routerLink="/">
      Shop
    </a>

    @if (authSession.isAuthenticated()) {
      <a routerLink="/cart">
        Cart
      </a>

      <a routerLink="/orders">
        Orders
      </a>

      @if (authSession.hasRole(roles.Admin)) {
        <a routerLink="/admin">
          Admin
        </a>
      } @else {
        <a routerLink="/seller">
          Seller
        </a>
      }

      <a routerLink="/account">
        {{
          authSession.user()?.firstName ||
          'Account'
        }}
      </a>

      <button
        type="button"
        (click)="logout()"
      >
        Sign out
      </button>
    } @else {
      <a routerLink="/register">
        Create account
      </a>

      <a routerLink="/login">
        Sign in
      </a>
    }
  </nav>
</header>
